body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #F9EBDE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  color: #815854;
  margin-top: 0; /* Dark heading text color */
}

.post {
  background-color: #815854;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px; /* Set the maximum width */
  width: 100%; /* Make it responsive to the container's width */
}

.post h2 {
  color: #815854;
  text-decoration: none;
  text-align: center;
  background-color: #F9EBDE;
}

.post p {
  font-size: 15px;
  line-height: 1.6;
  color: #F9EBDE;
  padding: 10px;
  border-radius: 8px;
  margin: 0; /* Remove default margin for paragraphs */
}

a {
  text-decoration: none;
  color: #815854;
  justify-content: center;
}

/* Styles for the new post creation form */
form {
  max-width: 300px;
  margin: 15px auto;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #566563;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  background-color: #815854;
  color: #fff;
  padding: 14px 28px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #815854;
}
